.DS_Store
code/__pycache__/laiss_functions.cpython-39.pyc
code/__pycache__/helper_functions.cpython-39.pyc
data/sed_m60.0_mrp5.57_m560.000.dat
timeseries/ZTF24aahxokj_timeseries.csv
timeseries/ZTF21aaublej_timeseries.csv
data/host_info/database/GHOST.csv
data/loci_df_271688objects_cut_stars_and_gal_plane.csv
data/lc_features.txt
data/host_features.txt
data/dataset_bank_orig_w_hosts_ra_dec_5472objs.csv.gz
data/dataset_bank_orig_5472objs.csv.gz
data/dataset_bank_orig_5472objs_pcaTrue_hostTrue_annoy_index.ann
data/dataset_bank_orig_5472objs_pcaTrue_hostTrue_annoy_index_idx_arr.npy
data/dataset_bank_orig_5472objs_pcaTrue_hostTrue_annoy_index_feat_arr.npy
data/dataset_bank_orig_5472objs_pcaTrue_hostTrue_annoy_index_feat_arr_scaled.npy
data/dataset_bank_orig_5472objs_pcaTrue_hostTrue_annoy_index_feat_arr_scaled_pca.npy
code/__pycache__/mod_laiss_functions.cpython-39.pyc
code/__pycache__/mod_helper_functions.cpython-39.pyc
data/ZTFBTS.txt
data/transient_feature_lib.csv
data/loci_df_271688objects_cut_stars_and_gal_plane_pcaFalse_hostFalse_annoy_index_feat_arr.npy
data/loci_df_271688objects_cut_stars_and_gal_plane_pcaFalse_hostFalse_annoy_index_idx_arr.npy
data/loci_df_271688objects_cut_stars_and_gal_plane_pcaFalse_hostFalse_annoy_index.ann
timeseries/ZTF22abcvfgs_timeseries.csv
neighbors_lib_GHOST_df_version.csv
neighbors_lib.csv
transient_feature_lib0.csv
transient_feature_lib1500.csv
transient_feature_lib2500.csv
transient_feature_lib3000.csv
transient_feature_lib4000.csv
transient_feature_lib5000.csv
dataset_bank_tns_cls.csv
.dataset_bank_tns_cls.csv.icloud
check_feature_stats_for_standardization.csv
SINGLEtransient_feature_lib.csv
data/.dataset_bank_orig_5472objs_pcaTrue_hostTrue_annoy_index_feat_arr_scaled_pca.npy.icloud
data/.dataset_bank_orig_5472objs_pcaTrue_hostTrue_annoy_index_feat_arr.npy.icloud
.gitignore
data/.dataset_bank_orig_5472objs_pcaTrue_hostTrue_annoy_index_feat_arr_scaled.npy.icloud
data/.dataset_bank_orig_5472objs_pcaTrue_hostTrue_annoy_index.ann.icloud
data/.dataset_bank_orig_5472objs.csv.gz.icloud
data/.dataset_bank_orig_w_hosts_ra_dec_5472objs.csv.gz.icloud
data/.host_only_laiss_annoy_index_pcaFalse.ann.icloud
data/.GHOST_withZTFNames.csv.icloud
data/.host_only_laiss_annoy_index_pcaTrue.ann.icloud
data/.host_only_laiss_annoy_index_pcaTrue 2.ann.icloud
data/.loci_df_271688objects_cut_stars_and_gal_plane_pcaFalse_hostFalse_annoy_index_feat_arr.npy.icloud
data/.loci_df_271688objects_cut_stars_and_gal_plane_pcaFalse_hostFalse_annoy_index.ann.icloud
data/.sed_m60.0_mrp5.57_m560.000.dat.icloud
data/.loci_df_271688objects_cut_stars_and_gal_plane.csv.icloud
data/dataset_bank_host_only_laiss.csv
data/host_only_laiss_annoy_index_pcaFalse_feat_arr.npy
data/host_only_laiss_annoy_index_pcaFalse_idx_arr.npy
data/host_only_laiss_annoy_index_pcaTrue_feat_arr_scaled_pca.npy
data/host_only_laiss_annoy_index_pcaTrue_feat_arr_scaled.npy
data/host_only_laiss_annoy_index_pcaTrue_idx_arr.npy
data/host_info/database/.GHOST.csv.icloud
data/host_only_laiss_annoy_index_pcaTrue_feat_arr.npy
data/sfddata-master/.SFD_dust_4096_sgp.fits.icloud
data/sfddata-master/.SFD_mask_4096_ngp.fits.icloud
data/sfddata-master/.SFD_dust_4096_ngp.fits.icloud
data/sfddata-master/README.md
data/sfddata-master/.SFD_mask_4096_sgp.fits.icloud
models/SMOTE_train_test_70-30_min14_kneighbors8/cls=binary_n_estimators=100_max_depth=35_rs=11_max_feats=35_cw=balanced/model/.cls=binary_n_estimators=100_max_depth=35_rs=11_max_feats=35_cw=balanced.pkl.icloud
code/build_feat_lib.py
data/dataset_bank_orig_5472objs_pcaFalse_hostTrue_annoy_index_feat_arr.npy
code/__pycache__/constants.cpython-39.pyc
data/dataset_bank_orig_5472objs_pcaFalse_hostTrue_annoy_index.ann
data/dataset_bank_orig_w_hosts_ra_dec_5472objs.csv
data/final_dataset_bank_host_only_laiss.csv
data/final_dataset_bank_re_laiss.csv
data/final_standardized_dataset_bank_re_laiss.csv
data/GHOST_withZTFNames.csv
data/dataset_bank_orig_5472objs_pcaFalse_hostTrue_annoy_index_idx_arr.npy
data/loci_df_271688objects_cut_stars_and_gal_plane_pcaFalse_hostFalse_annoy_index 2.ann
data/OLD_FEATURES_final_dataset_bank_re_laiss.csv
data/old_host_features.txt
data/old_lc_features.txt
data/ZTFBTS_noCuts_hostdata.csv
data/sfddata-master/SFD_dust_4096_ngp.fits
data/sfddata-master/SFD_dust_4096_sgp.fits
data/sfddata-master/SFD_mask_4096_ngp.fits
data/sfddata-master/SFD_mask_4096_sgp.fits
database/GHOST.csv
timeseries/ZTF18acbwasc_timeseries.csv
timeseries/ZTF19aazgpar_timeseries.csv
timeseries/ZTF24abeiqfc_timeseries.csv
data/for_comparing_lc_feats_df_bank.csv
data/large_final_df_bank_new_lc_feats.csv
data/old_data/old_lc_features.txt
data/old_data/old_host_features.txt
data/old_data/loci_df_271688objects_cut_stars_and_gal_plane.csv
data/old_data/GHOST_withZTFNames.csv
data/small_df_bank_re_laiss.csv
data/orig_df_bank_laiss.csv
data/re_LAISS/index_files/re_laiss_annoy_index_pcaFalse_0lc_15host_feat_arr.npy
data/re_LAISS/index_files/re_laiss_annoy_index_pcaFalse_0lc_15host_idx_arr.npy
data/re_LAISS/index_files/re_laiss_annoy_index_pcaFalse_0lc_15host.ann
data/re_LAISS/index_files/re_laiss_annoy_index_pcaFalse_0lc_18host_feat_arr.npy
data/re_LAISS/index_files/re_laiss_annoy_index_pcaFalse_0lc_18host_idx_arr.npy
data/re_LAISS/index_files/re_laiss_annoy_index_pcaFalse_0lc_18host.ann
data/re_LAISS/index_files/re_laiss_annoy_index_pcaFalse_0lc_50host_feat_arr.npy
data/re_LAISS/index_files/re_laiss_annoy_index_pcaFalse_0lc_50host_idx_arr.npy
data/re_LAISS/index_files/re_laiss_annoy_index_pcaFalse_0lc_50host.ann
data/re_LAISS/index_files/re_laiss_annoy_index_pcaFalse_18lc_0host_feat_arr.npy
data/re_LAISS/index_files/re_laiss_annoy_index_pcaFalse_18lc_0host_idx_arr.npy
data/re_LAISS/index_files/re_laiss_annoy_index_pcaFalse_18lc_0host.ann
data/theorized_lc/ZTF21aaublej.csv
data/theorized_lc/snII.csv
data/theorized_lc/snIc.csv
data/theorized_lc/slsnI.csv
data/old_data/ZTFBTS.txt
